/* Resetting browser defaults */
* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: rgb(207, 191, 197);
    font-family: 'Indie Flower', cursive;
    color: rgba(100, 150, 255, 1);
    /*background-color: rgb(238, 232, 225);*/
}

#banner {
    background-image: url("../images/wall.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 15em;
}

.container {
    margin: 1em 10em;
}

.jumbotron {
    margin-top: 2em;
    width: 100%;
    border-bottom: 3px solid rgba(115, 173, 33, 1);
}

h1 {
    text-align: center;
    font-size: 500%;
    color: rgba(114, 172, 255, 0.8);
    padding-top: 0.8em;
}

h2 {
    font-size: 200%;
}

p {
    /*font-family: 'Satisfy', cursive;*/
    font-size: 150%;
}

#picture img{
    float: right;
    border-radius: 10px 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

.grid {
	width: 50%;
	float: left;
	margin: 1em 0;
}

ul, ol {
	font-size: 150%;
}

footer {
	float: right;
	margin-top: 1em;
}